body {
  font-family: "Arial" sans-serif;
  min-width: 480px;
}

.container {
}

.clear {
  clear:both
}

#pageinfo {
  text-align:center;
}

.gap {	
}

.gap:hover {
  background-color: #FFC;
}

.odd {
  background-color:#DDD
}

.column-title {
	font-weight: bold;
}

.room-col, .start-col, .end-col, .length-col {
	float: left;
	text-align: center;
	font-size: 24px;
}

.room-col {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 40%;
    display: block;
    overflow: hidden
}

.start-col {
	width: 19%;
}

.end-col {
	width: 19%;
}

.length-col {
	width: 19%;
}

#gaps {
}

.spaceinfo {
  padding:6px;
  font-size: 22px;
}

h5 {
	font-size: 18px;
	text-transform: uppercase;	
}