body {
  font-family: "Arial" sans-serif
}

.container {
  padding:6px;
}
.clear {
  clear:both
}
span {
  padding: 6px;
  padding-left: 10px;
  float:left;
  width:32%;
  border-right: solid 2px #eee;
  font-size:105%;
}
span#start,
span#end,
span#length {
  width:15%;
}

.even {
  background-color:#999
}
#gaps {
  padding:6px;
  background-color: #777;
}

