body {
  font-family: "Arial" sans-serif
}

.container {
  padding:6px;
}
.clear {
  clear:both
}
#pageinfo {
  text-align:center;
}
.gap:hover {
  background-color:#986
}
span {
  padding-left: 10px;
  float:left;
  width:32%;
  border-right: solid 2px #333;
  font-size:105%;
}
span#start,
span#end,
span#length {
  width:15%;
}

.even {
  background-color:#DDD
}
#gaps {
  padding:6px;
  background-color: #FFF;
}
.spaceinfo {
  padding:6px;
}
