{% include 'header.html' %}

<!-- copy & paste this section to add a new item 
<article class=i>
	<p class=iTtl>Item Title</p>
	<p class=iDes>Item Description</p>
	<p class=iLnk>Item Link</p>
</article>
-->

<article class=i>
	<p class=iTtl>About</p>
	<p class=iDes>
    	Can't find one of the few available power outlets in the computer science commons (irony)? Does the commandeering of perfectly useful tables and chairs
        during the busiest time of the day by somnolent freshmen with winter coats over their faces bother you to no end? Perhaps you tire of keeping your 
        headphone volume at ear-bleeding levels in a unquestionably futile attempt to drown out the <span style="text-transform:uppercase">"See, I have the other Gideon and really love the card and understand the negatives of the new Gideon but In my mind the new one causes people to want to attack him as well, in fear of his -15 ability leaving them open for attack....."</span>
    </p>
    <p class=iDes>
    	Built by a group of University of Minnesota students who got sick of these forementioned distractions, the UofM Classroom Finder searches in real-time for 
        any unscheduled classrooms on campus and presents that information in a sorted, meaningful way. Simply whip out your smartphone while
        wandering around on campus and you can instantly find a quiet, comfortable, trading-card-game-free room to a) Actually get work done with ample seating,
        power outlets for your computers,  and a whiteboard for your ideas or b) Procrastinate in peace, throw a movie on the classroom projector (feature
        coming soon), etc, etc.
    </p>
    <p class=iDes>
    	This application is written in Python using the Beautiful Soup library and Flask microframework (which in turn uses the Jinja 2 template engine), and SQLite3.
    </p>
</article>

<article class=i>
	<p class=iTtl>Fork us on GitHub</p>
	<p class=iDes><span style="font-weight:bold;">You can help add functionality by forking and contributing <a href="">here</a></span></p>
</article>

{% include 'footer.html' %}