{% include 'header.html' %}

<article class=i>
  <p class=iTtl>About</p>
  <p class=iDes>
    This Classroom Finder searches in a database we fill every hour for 
      any unscheduled classrooms on campus and presents the information in a sorted, meaningful way. Simply whip out your smartphone while
      wandering around on campus and you can instantly find a quiet, comfortable room to actually get work done. The dropdown will give a better idea of what to expect 
      and the link will bring you to actual images of the room.
  </p>
</article>

<article class=i>
  <p class=iTtl>Fork us on GitHub</p>
  <p class=iDes><span style="font-weight:bold;">You can help add functionality by forking and contributing <a href="https://github.com/tippenein/classroom_finder">here</a></span></p>
</article>

{% include 'footer.html' %}
