<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">                                                                                                                      
  <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen, projection">
  <title>UMN Classroom Finder</title>
</head>
<body>
  <div id="pageinfo">
    <h3>UMN Classroom Finder</h3>
    <p>You can help add functionality by forking and contributing 
        <a href="http://github.com/tippenein/classroom_finder">here</a>
    </p>
  </div>
  <div class='container'>
  <!--
  <form>
    Select Campus: 
    <select>
      <option value="east">East Bank</option><br>
      <option value="west">West Bank</option><br>
    </select>
    <input type='submit', value='submit'>
  </form>
  -->
  <div id=gaps>
    <span id='room'><h5>Room</h5></span>
    <span id='start'><h5>Start Time</h5></span>
    <span id='end'><h5>End Time</h5></span>
    <span id='length'><h5>Length (mins)</h5></span>
    <div class='clear'></div>
    <hr>
    {% for gap in gaps %}
    {% if loop.index is even %}<div class="gap even">
    {% else %}<div class="gap">{% endif %}
      <span id='room'>{{gap[3]}}</span>
      <span id='start'>{{gap[0]}}</span>
      <span id='end'>{{gap[1]}}</span>
      <span id='length'>{{gap[2]}}</span>
    <div class='clear'></div>
    </div>
    {% endfor %}
  </div>
</div><!-- end container -->
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
</body>
</html>
